html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;

}

.robot {
  box-sizing: border-box;
  position: absolute;
  width: 180px;
  height: 190px;
  top: calc(25% - 80px);
  /*bottom:0;*/
  left: calc(50% - 80px);
}

.head {
  position: absolute;
  width: 240px;
  height: 180px;
  background-color: #ccc;
  border-radius: 9px;
  overflow: hidden;
  background: -webkit-linear-gradient(left, #ccc 0%, #e6e6e6 40%, #e6e6e6 60%, #ccc 100%);
  background: linear-gradient(to right, #ccc 0%, #e6e6e6 40%, #e6e6e6 60%, #ccc 100%);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: bob 3000ms ease-in-out alternate infinite -1000ms;
          animation: bob 5000ms ease-in-out alternate infinite -1000ms;
}

.eyes {
  position: absolute;
  top: calc(20% - 1px);
  right: 26px;
  left: 26px;
  height: 20px;
  -webkit-animation: blink 1300ms linear forwards infinite;
          animation: blink 2000ms linear forwards infinite;
}

.eyeball {
  position: absolute;
  width: 33px;
  height: 49px;
  border-radius: 50% 50% 50% 50% / 1% 1% 50% 50%;
  background-color: black;
}

.eyeball_left {
  left: 0;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.eyeball_right {
  right: 0;
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}

.mouth {
  position: absolute;
  bottom: 16px;
  left: 10px;
  width: 220px;
  height: 20px;
  background-color: black;
  overflow: hidden;
  border-radius: 6px;
  -webkit-transition: height 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: height 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.mouth-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.robot_speaking .mouth {
  height: 49px;
}
.robot_speaking .mouth-container {
  -webkit-animation: speakingAnim 0.3s infinite;
          animation: speakingAnim 0.3s infinite;
}

.mouth-container-line {
  position: absolute;
  top: 50%;
  height: 2px;
  background-color: limegreen;
  width: 100%;
  margin-top: -1px;
}

/*.torso {
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  border-radius: 6px 6px 0 0;
  background: -webkit-linear-gradient(left, #ccc 0%, #e6e6e6 40%, #e6e6e6 60%, #ccc 100%);
  background: linear-gradient(to right, #ccc 0%, #e6e6e6 40%, #e6e6e6 60%, #ccc 100%);
}*/

/*.neck {
  position: absolute;
  bottom: 45px;
  left: calc(50% - 15px);
  width: 30px;
  height: 50px;
  border-radius: 15px;
  background: -webkit-repeating-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 7%, #646464 10%), -webkit-linear-gradient(left, #ccc 0%, #e6e6e6 40%, #e6e6e6 60%, #ccc 100%);
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 7%, #646464 10%), linear-gradient(to right, #ccc 0%, #e6e6e6 40%, #e6e6e6 60%, #ccc 100%);
}

.arms {
  position: absolute;
  bottom: 0;
  left: 30px;
  right: 30px;
  height: 50px;
}

.arm {
  position: absolute;
  top: 0;
  width: 20px;
  height: 50px;
  border-radius: 10px 10px 0 0;
  background: -webkit-repeating-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 7%, #646464 10%), -webkit-linear-gradient(left, #ccc 0%, #e6e6e6 40%, #e6e6e6 60%, #ccc 100%);
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 7%, #646464 10%), linear-gradient(to right, #ccc 0%, #e6e6e6 40%, #e6e6e6 60%, #ccc 100%);
}

.arm_left {
  left: 0;
}

.arm_right {
  right: 0;
}*/

@-webkit-keyframes lowAnim {
  0% {
    -webkit-filter: url("#low-0");
            filter: url("#low-0");
  }
  25% {
    -webkit-filter: url("#low-1");
            filter: url("#low-1");
  }
  50% {
    -webkit-filter: url("#low-2");
            filter: url("#low-2");
  }
  75% {
    -webkit-filter: url("#low-3");
            filter: url("#low-3");
  }
  100% {
    -webkit-filter: url("#low-4");
            filter: url("#low-4");
  }
}

@keyframes lowAnim {
  0% {
    -webkit-filter: url("#low-0");
            filter: url("#low-0");
  }
  25% {
    -webkit-filter: url("#low-1");
            filter: url("#low-1");
  }
  50% {
    -webkit-filter: url("#low-2");
            filter: url("#low-2");
  }
  75% {
    -webkit-filter: url("#low-3");
            filter: url("#low-3");
  }
  100% {
    -webkit-filter: url("#low-4");
            filter: url("#low-4");
  }
}
@-webkit-keyframes listeningAnim {
  0% {
    -webkit-filter: url("#listening-0");
            filter: url("#listening-0");
  }
  25% {
    -webkit-filter: url("#listening-1");
            filter: url("#listening-1");
  }
  50% {
    -webkit-filter: url("#listening-2");
            filter: url("#listening-2");
  }
  75% {
    -webkit-filter: url("#listening-3");
            filter: url("#listening-3");
  }
  100% {
    -webkit-filter: url("#listening-4");
            filter: url("#listening-4");
  }
}
@keyframes listeningAnim {
  0% {
    -webkit-filter: url("#listening-0");
            filter: url("#listening-0");
  }
  25% {
    -webkit-filter: url("#listening-1");
            filter: url("#listening-1");
  }
  50% {
    -webkit-filter: url("#listening-2");
            filter: url("#listening-2");
  }
  75% {
    -webkit-filter: url("#listening-3");
            filter: url("#listening-3");
  }
  100% {
    -webkit-filter: url("#listening-4");
            filter: url("#listening-4");
  }
}
@-webkit-keyframes speakingAnim {
  0% {
    -webkit-filter: url("#speaking-0");
            filter: url("#speaking-0");
  }
  25% {
    -webkit-filter: url("#speaking-1");
            filter: url("#speaking-1");
  }
  50% {
    -webkit-filter: url("#speaking-2");
            filter: url("#speaking-2");
  }
  75% {
    -webkit-filter: url("#speaking-3");
            filter: url("#speaking-3");
  }
  100% {
    -webkit-filter: url("#speaking-4");
            filter: url("#speaking-4");
  }
}
@keyframes speakingAnim {
  0% {
    -webkit-filter: url("#speaking-0");
            filter: url("#speaking-0");
  }
  25% {
    -webkit-filter: url("#speaking-1");
            filter: url("#speaking-1");
  }
  50% {
    -webkit-filter: url("#speaking-2");
            filter: url("#speaking-2");
  }
  75% {
    -webkit-filter: url("#speaking-3");
            filter: url("#speaking-3");
  }
  100% {
    -webkit-filter: url("#speaking-4");
            filter: url("#speaking-4");
  }
}
@-webkit-keyframes bob {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  40% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
  }
  60% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}
@keyframes bob {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  40% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
  }
  60% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
}
@-webkit-keyframes blink {
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  51% {
    -webkit-transform: scale(1, 0.1);
            transform: scale(1, 0.1);
  }
  52% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes blink {
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  51% {
    -webkit-transform: scale(1, 0.1);
            transform: scale(1, 0.1);
  }
  52% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
